<p></p>
<form>
    <div class="form-content">
        <h1>Cadastro</h1> 
        <p> 
          <input id="user" name="user" required="required" type="text" placeholder="Usuário" pInputText />
        </p>
         
        <p> 
          <input id="password" name="password" required="required" type="password" placeholder="Senha" pInputText /> 
        </p>
          <input id="confirm-password" name="confirm-password" required="required" type="password" placeholder="Senha" pInputText /> 
          <br> 
        <span>As senhas conferem</span>
        <p> 
          <input id="nome" name="nome" required="required" type="text" placeholder="Nome" pInputText /> 
        </p>

        <p> 
          <input id="cnpj" name="cnpj" required="required" type="text" placeholder="CNPJ" pInputText /> 
        </p>

        <p> 
          <input id="cidade" name="cidade" required="required" type="text" placeholder="Cidade" pInputText /> 
        </p>

        <p> 
          <input id="estado" name="estado" required="required" type="text" placeholder="Estado" pInputText /> 
        </p>

        <p> 
          <input id="endereco" name="endereco" required="required" type="text" placeholder="Endereço" pInputText /> 
        </p>

        <p> 
          <input id="email" name="email" required="required" type="text" placeholder="E-mail" pInputText /> 
        </p>

        <p> 
          <input id="contato" name="contato" required="required" type="text" placeholder="Contato" pInputText /> 
        </p>
         
        <p> 
          <p-button routerLink="/login" class="pi">Voltar</p-button>&nbsp;
          <p-button class="pi">Registrar</p-button>
        </p>
    </div>
    
</form>