<script type="text/javascript" src="https://maps.google.com/maps/api/js?key=AIzaSyCj2uvLx6bRIFAdf5GLyLz0_a7Von4nkz0" async defer></script>

<mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="example-spacer"></span>
    <span class="cuco-titulo">CUCO</span>
    <!-- <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button> -->
</mat-toolbar>
<app-mapa></app-mapa>