<br>
<div class="container">
    <div class="row">
        <div class="col-4">
            <p-card header="Tenha consciência!">
                <img src="../../assets/images/cerebro-fome.jpg"><br><p><p><p>
                "Você compra um par de óculos, um par de sapatos por ano, mas comida você compra praticamente todos os dias."
                <br><p>
            </p-card>
        </div>
        <div class="col-4">
            <p-card header="Sobre nós!">
                <img src="../../assets/images/CUCO-Logo.png"><p>
                O CUCO é um intermediário entre o cliente, o estabelecimento de consumo e uma instituição parceira, onde através do mesmo, é possível realizar doações de forma fácil e segura, tendo a certeza que sua doação chegará ao destinatário através de uma cadeia logística que beneficiará ambas as partes.
            </p-card>
        </div>
        <div class="col-4">
            <p-card header="Você sabia?">
                <img src="../../assets/images/fome.jpeg" style="width:100%;"><br><br>
                116,8 milhões de brasileiros não tinham acesso pleno e permanente a alimentos. Desses, 43,4 milhões (20,5% da população) não contavam com alimentos em quantidade suficiente (insegurança alimentar moderada ou grave) e 19,1 milhões (9% da população) estavam passando fome (insegurança alimentar grave).
            </p-card>
        </div>
    </div>
</div>

